<div class="movies-container">
    <div class="section-header">
        <h2>My Movies</h2> 
      </div>
      <div class="section-container">
        <div *ngIf="movies?.length == 0">
          No Movies saved yet. Click "Add Movie" on your favorite movie to add your first.
        </div>
        <app-movie-item class="movie-item" *ngFor="let movie of movies" (removeMovieClicked)="removeMovie($event)" [removeMode]="true" (addMovieClicked)="saveMovie($event)" [movie]="movie"></app-movie-item>
      </div>
</div>
